.profile-bubble-container {
    position: fixed;
    width:100%;
    height: 150px;
    bottom: -75px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.bubble {
    background: lightblue;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    color: black;
    text-align: center;
}

.bubble > span {
    display: block;
    transform: translateY(45px);
}