<div class="background"></div>

<div class="section-col theme-company-profile">
  <div class="profile-picture">
    <img src={{this.imageUrl}}>
  </div>
  <div class="contact">
    <div><span><i class="fa fa-envelope"></i>{{this.userInfo.email}}</span></div>
    <div><span><i class="fa fa-building"></i>{{this.userInfo.companyName}}</span></div>
    <div><span><i class="fa fa-phone"></i>{{this.userInfo.phone}}</span></div>
  </div>
  <div><button class="btn" (click)="logout()"><i class="fa fa-sign-out"></i>logout</button></div>
</div>
