.background {
    background-color: #440026;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s;
    top: 0;
    left: 0;
}
.theme-company-profile div {
    margin: 8px 0;
}

.profile-picture {
    width: 175px;
    height: 175px;
    overflow: hidden;
    border: 5px solid lightgrey;
    border-radius: 175px;
}

.profile-picture img {
    width: 175px;
}

.contact {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact div {
    text-align: center;
    margin: 0 1em;
}

.contact div > span {
    transition: 0.2s ease;
    padding: 5px;
    border-radius: 2px;
}

.contact div > span > i {
    margin-right: 3px;
}

.contact div > span:hover {
    background: #3a262b;
}
