.bckCustFormComponent {
    background: #440026;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: fadeIn 0.5s;
}

.login-form {
    max-width: 768px;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form .form-group {
    width: 100%;
}

.error {
    text-align: center;
}

.fade-drag-in {
    transform: translateY(-5px);
    opacity: 0;
    animation: fadeDrag 0.3s ease-in forwards;
}

@keyframes fadeDrag {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}