<div class="bckCustFormComponent"></div>

<form [formGroup]="form" (ngSubmit)="submit(form)" class="myForm was-validated" novalidate>
  <div>
    <div class="form-group">
      <app-country-box formControlName="country"></app-country-box>
      <div class="valid-feedback">
        <span *ngIf='!country.empty'>*Required</span>
        <span *ngIf='country.invalid && country.touched'>Select a country!</span>
      </div>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name" formControlName="name">
      <div class="valid-feedback">
        <span *ngIf='!name.touched'>*Required</span>
        <span *ngIf='name.invalid && name.touched'>Enter a valid name!</span>
      </div>
    </div>

    <div class="form-group">
      <input type="number" class="form-control" placeholder="Phone" formControlName="phone">
      <div class="valid-feedback">
        <span *ngIf='!phone.touched'>*Required</span>
        <span *ngIf='phone.invalid && phone.touched'>Enter a valid phone number!</span>
      </div>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email" formControlName="email">
      <div class="valid-feedback">
        <span *ngIf='!email.touched'>*Required</span>
        <span *ngIf='email.invalid && email.touched'>Enter a valid email!</span>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-6 form-group fancy-header">
      <h4>
        <span>type of use</span>
      </h4>
      <ul class="list-unstyled">
        <li class="new-radio">
          <input type="radio" formControlName="application" name="application" value="personal" id="one">
          <div>
            <span></span>
            <label for="one">Personal</label>
          </div>
        </li>
        <li class="new-radio">
          <input type="radio" formControlName="application" name="application" value="commercial" id="two">
          <div>
            <span></span>
            <label for="two">Commercial</label>
          </div>
        </li>
        <li class="new-radio">
          <input type="radio" formControlName="application" name="application" value="technical" id="three">
          <div>
            <span></span>
            <label for="three">Technical</label>
          </div>
        </li>
      </ul>
    </div>
    <!-- <div class="col-sm-6 form-group fancy-header">
      <h4>
        <span>Number of hours</span>
      </h4>
      <ul class="list-unstyled">
        <li class="new-radio">
          <input type="radio" id="hours-1" name="est-hours">
          <div>
            <span></span>
            <label for="hours-1">8 hours</label>
          </div>
        </li>
        <li class="new-radio">
          <input type="radio" id="hours-2" name="est-hours">
          <div>
            <span></span>
            <label for="hours-2">12 hours</label>
          </div>
        </li>
        <li class="new-radio">
          <input type="radio" id="hours-3" name="est-hours">
          <div>
            <span></span>
            <label for="hours-3">24 hours</label>
          </div>
        </li>
      </ul>
    </div> -->
  </div>

    <!-- <div class="form-group">
      <input type="number" class="form-control" placeholder="Rate">
    </div> -->

  <div class="form-group">
    <button type="submit" class="btn btn-lg float-right">next</button>
    <div style="clear:both"></div>
  </div>
</form>

<app-loading *ngIf="showLoader"></app-loading>
