<nav class="d-flex justify-content-between align-items-center">
  <div class="d-none d-md-flex w-100 justify-content-between align-items-center md-menu">
    <div *ngFor="let item of navItems">
      <h4>
        <a routerLink={{item.link}} routerLinkActive="active">{{item.title}}</a>
      </h4>
    </div>
    <div>
      <h4>
        <app-profile-bubble [cname]="cname"></app-profile-bubble>
      </h4>
    </div>
  </div>
  <div class="d-md-none">
    <div>
      <h3><a href="#">Logo</a></h3>
    </div>
  </div>
  <div class="d-md-none" style="z-index:10000">
    <button id="bars-btn" style="font-size:2em;" *ngIf="!mobMenu" (click)="toggleMenu()">
      <i class="fa fa-bars" aria-hidden="true"> </i>
    </button>
    <button (click)='toggleMenu()' *ngIf="mobMenu" style="font-size:2em;background:none;border:none;color:lime;">
        <i class="fa fa-times"></i>
      </button>
  </div>
</nav>

<div class="d-md-none mb-nav-list" *ngIf="mobMenu">
  <div *ngFor="let item of navItems">
    <h4>
      <a routerLink={{item.link}} routerLinkActive="active"><span class={{item.icon}}></span>{{item.title}}</a>
    </h4>
  </div>
  <div>
    <h4>
      <a routerLink="company-profile" routerLinkActive="active"><span class="fa fa-user"></span>{{cname}}</a>
      <!-- <app-profile-bubble [cname]="cname"></app-profile-bubble> -->
    </h4>
  </div>
  
</div>
