#bars-btn {
    background: none;
    border: none;
    color: #FEFE00;
}

nav {
    padding: 1em;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.md-menu h4 {
    display: block;
}

.md-menu h4 a {
    display: block;
    padding: 0.5em 1em;
}

.md-menu h4::after {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #FEFE00;
    content: '';
    margin-top: 5px;
    opacity: 0;
}

@keyframes h4hover {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.md-menu h4:hover::after, .md-menu h4:hover::before {
    animation-name: h4hover;
    animation-duration: 0.5s;
    opacity: 1;
}

.mb-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    left: 0;
    top: 0px;
    justify-content: center;
    background: rgb(0, 0, 0, 0.7);
}

.mb-nav-list > div {
    margin: 14px 0;
    width: 250px;
}

.mb-nav-list a, .mb-nav-list a:hover {
    color: #FEFE00;
    animation: none;
}

.mb-nav-list a > span {
    margin-right: 10px;
}

.active {
    border: 1px solid #FEFE00;
}